
# Source file
SRC_FILE = ./main.c

# Communication port for -monitor
COM_NAME = COM5
COM_BAUD = 115200

# MCU part no.
MCU_PART = 24FJ48GA002

# Heap memory size
HEAP_SIZE = 1024

# Include directories
#INC_DIR  = ../dev01/dev01_esp8266_at
INC_DIR  = ../../library/header

INC_DIR  = ./

# Linker script file of the 24FJ48GA002
LNK_FILE = ../../library/linker/24FJ48GA002.gld

# OS library file
LIB_FILE = ../../library/os-lib/lib.X.a

# WiFi (ESP8266) library file
LIB_FILE = ../../library/os-lib/http.a

# Compilation output directory
OUT_DIR  = ./output

# Machine code output file name (HEX)
HEX_FILE = ./firmware.hex

# Compiler directory (optional)
XC16_DIR = C:/Program Files (x86)/Microchip/xc16/v1.33/bin
